name: "Ostad Workflow CI/CD Pipeline"
on:
  push:
    branches:
      - main
      - 'release/*'
  pull_request:
    branches:
      - main
jobs:
  Intall Nginx:
    runs-on: self-hosted
    steps:
      - name: Git clone
        uses: actions/checkout@v3
      - name: Install Nginx
        run: |
          sudo apt update
          sudo apt install nginx -y
      - name: Start Nginx
        run: |
          sudo systemctl start nginx
          sudo systemctl enable nginx
