name: "Ostad Workflow CI/CD Pipeline"
on:
  push:
    branches:
      - main
      - 'release/*'
  pull_request:
    branches:
      - main
jobs:
  Intall Nginx:
    runs-on: ubuntu-latest
    steps:
      - name: Install Nginx
        run: sudo apt install nginx -y
