name: "Ostad Workflow CI/CD Pipeline"
on:
  push:
    branches:
      - main
      - 'release/*'
  pull_request:
    branches:
      - main
jobs:
  read_the_file:
    runs-on: ubuntu-latest
    steps:
      - name: sudo apt update && upgrade 
        run: |
          sudo apt update
          sudo apt upgrade -y
      - name: git clone
        uses: actions/checkout@v2
      - name: read the file
        run: cat hanif.txt